
ConsoleAppTestingCompiledModels/ConsoleAppTestingCompiledModels/bin/

ConsoleAppTestingCompiledModels/ConsoleAppTestingCompiledModels/obj/

ConsoleAppTestingCompiledModels/DatabaseCompiledModels/bin/

ConsoleAppTestingCompiledModels/DatabaseCompiledModels/obj/

ConsoleAppTestingCompiledModels/.vs/

ConsoleAppTestingCompiledModels/obj/
